__pycache__/
*.pyc
*.egg-info/
catboost_info/
models/*.pkl
outputs/
.ipynb_checkpoints
.swp
.vscode/
../.vscode/
build
.pytest_cache
.ruff_cache

# MLflow
mlruns/
mlartifacts/
mlflow.db
models/

# scripts/test
scripts/
tests/