name: Build Bike-sharing Model
on:
    push:
        branches: ['main']
    pull_request:
        branches: ['main']
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup python 
              uses: actions/setup-python@v6
              with:
                python-version: '3.10.16'
                cache: 'pip'
            
            - name: Install Dependencies     
              run: | 
                pip install --upgrade pip
                make install_main_dep

            - name: Train main model
              run: train-bike

            - name: Make Prediction
              run: predict-bike
